.header{
  background-color: var(--main-blue);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  font-size: 24px;
  font-weight: bold;
}
